Binaries/Win64/BarcosisEditor.target filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/UnrealEditor.modules filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/UnrealEditor-Barcosis.dll filter=lfs diff=lfs merge=lfs -text
